google-generativeai
python-dotenv
langchain
faiss-cpu
langchain_google_genai
langchain-community
langchain
faiss-cpu
langserve
ipykernel
fastapi
uvicorn
langchain_core
sse_starlette
pydantic==1.10.13
langchain_huggingface
huggingface_hub
Pillow 
pdf2image
python-multipart
langsmith
pydub
